* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

a {
  /*color: #333;*/
  text-decoration: none;
}

input[type=submit]{
    outline: none;
    cursor: pointer;
}

#container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto calc(100vh - 76px) 0;
    grid-template-areas:
            "side1 header side2"
            ". content ."
            "footer footer footer";
}

#side-left{
    grid-area: side1;
    background: #00263e;
}

#side-right{
    grid-area: side2;
    background: #00263e;
}

#content{
    grid-area: content;
    background: whitesmoke;
}